:root {
  line-height: $base-line-height;
  font-size: $base-font-size;
}

body {
  font-family: $base-font-family;
  font-size: $font-size;
  color: $base-font-color;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
}
