.sticky {
  position: fixed;
  background-color: $color-white;
  top: 0;

  &.form--search {
    @include calc-width(83.33%, 4);
    right: 0;
  }

  &.main__topbar {
    @include calc-width(83.33%, 8);
  }

  &.header {
    @include calc-width(100%, 2);
  }
}
