.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;

  @for $i from 1 through $columns {
    .col-#{$i} {
      // flex: flex-grow flex-shrink flex-basis
      flex: 0 0 percentage($i / $columns);
      // Applies to IE10+ and Firefox
      max-width: percentage($i / $columns);
      position: relative;
    }
  }
}
