.main {
  border-right: $border-light;
  border-left: $border-light;
  min-height: 100vh;

  &__topbar {
    height: $top-bar-height;
    border-bottom: $border-light;
    position: relative;

    &__title {
      @include center-y();
      font-weight: $font-weight-bold;
      padding-left: $inner-spacing;
    }
  }

  &__content {
    padding: $inner-spacing;
  }
}

