.main {
  min-height: 100vh;

  &__topbar,
  &__content {
    border-right: $border-light;
    border-left: $border-light;
  }

  &__topbar {
    height: $top-bar-height;
    border-bottom: $border-light;

    &__title {
      @include center-y();
      font-weight: $font-weight-bold;
      padding-left: $inner-spacing;
    }
  }

  &__content {
    margin-top: $top-bar-height;
    padding: $inner-spacing;
  }
}

